<nb-card class="step-setting-container" *ngIf="currentProcess">
    <nb-card-header class="container-fluid">
        <div class="row align-items-center justify-content-between">
            <div class="mb-1 mt-1 dis-flex-a " style="position: relative;">
                <nb-icon class="mr-2 cursor-pointer" [icon]="'arrow-back-outline'" pack="eva"
                    (click)="backToListProcess()">
                </nb-icon>
                <nb-form-field>
                    <input type="text" class="input-process-name {{!isEditInput ? 'is-view pointer-none' : ''}}"  nbInput fullWidth
                        [(ngModel)]="newProcess.ProcessName" placeholder="Tên quy trình" #inputProcessNameElm>
                <span class="cancel-p cursor-pointer" (click)="hideInputProcessName($event)" *ngIf="isEditInput">Hủy</span>
                    <button nbSuffix nbButton ghost (click)="showEditProcessName()" *ngIf="!isEditInput">
                        <nb-icon [icon]="'edit-2-outline'" pack="eva">
                        </nb-icon>
                    </button>
                    <button nbSuffix nbButton ghost (click)="updateProcessName()" *ngIf="isEditInput">
                        <nb-icon [icon]="'checkmark-outline'" pack="eva">
                        </nb-icon>
                    </button>
                </nb-form-field>
            </div>
            <div class="form-group " style="margin-right: 29px; min-width: 170px" >
                <nb-select  id="process-group" class="col-md-6 padding-0" fullWidth
                 [(ngModel)]="newProcess.ProcessStatus" (ngModelChange)="updateProcessStatus()" placeholder="Chọn nhóm quy trình" [ngModelOptions]="{standalone: true}">
                    <nb-option [value]="status.ProcessStatus" *ngFor="let status of listProcessStatus">
                       <div [class]="status.Class">
                       
                       </div> {{status.Text}}
                    </nb-option>
                </nb-select>
            </div>
        </div>
    </nb-card-header>

    <nb-card-body class="container-fluid">
        <div class="row">

            <div class="col-4 col-lg-3 list-step-container">
                <div class="title mb-2">Danh sách bước quy trình</div>
                <div class="step " [class.step-focus]="currentStep.ProcessStepId == item.ProcessStepId"
                    *ngFor="let item of currentProcess.ProcessSteps" (click)="showStep(item)">
                    <div class="dis-flex-a justify-content-between w-100">
                        <div>
                            {{item.ProcessStepName}}</div>
                        <nb-icon [icon]="'chevron-right-outline'" pack="eva">
                        </nb-icon>
                    </div>
                </div>
                <div class="dis-flex-a btn-primaty-only-text" (click)="showInputStepName($event)"
                    *ngIf="!isShowInputStepName"
                    [class.mt-3]="currentProcess.ProcessSteps && currentProcess.ProcessSteps.length > 0">
                    <div class="mr-2">Thêm bước</div>
                    <nb-icon [icon]="'plus-outline'" pack="eva">
                    </nb-icon>
                </div>

                <nb-form-field *ngIf="isShowInputStepName" class="mt-3 mb-2">
                    <input type="text" class="input-step-name" nbInput fullWidth [(ngModel)]="stepAddSidebarName"
                        placeholder="Tên bước" #inputStepNameElm (keyup.enter)="addSidebarStep()">

                    <button nbSuffix nbButton ghost (click)="addSidebarStep()">
                        <nb-icon [icon]="'checkmark-outline'" pack="eva">
                        </nb-icon>

                    </button>
                    <!-- <button nbSuffix nbButton ghost >
                        <nb-icon [icon]="'close-outline'" pack="eva">
                        </nb-icon>
                    </button> -->
                    <span class="cancel" (click)="hideInputStepName($event)">Hủy</span>
                </nb-form-field>

            </div>

            <div class="col-8  col-lg-9 step-detail-container" accent="danger" size="tiny" [nbSpinner]="isLoadingStep"
                nbSpinnerStatus="danger" nbSpinnerSize="large" nbSpinnerMessage="">
                <ngx-step-setting-detail [readonly]="!isUpdateStep"
                    [isFirstStep]="currentStep.SortOrder == 1 ? true : false" [stepData]="currentStep"
                    (onSave)="updateStep($event)" (onCancel)="cancelUpdateStep()"> </ngx-step-setting-detail>


                <nb-icon class="edit-step" [icon]="'edit-2-outline'" *ngIf="!isUpdateStep" pack="eva"
                    (click)="showUpdateStep()">
                </nb-icon>

                <nb-icon class="del-step" [icon]="'trash-2-outline'" *ngIf="!isUpdateStep && currentStep.SortOrder != 1"
                    pack="eva" (click)="openConfirmDelStep(dialogConfirmDelStep)">
                </nb-icon>
            </div>
        </div>

    </nb-card-body>
</nb-card>


<ng-template #dialogConfirmDelStep let-data let-ref="dialogRef">
    <nb-card>
        <nb-card-header>Xóa bước</nb-card-header>
        <nb-card-body>Bạn có chắc muốn xóa bước này không?</nb-card-body>
        <nb-card-footer>
            <div class="btn-group dis-flex justify-content-end">
                <button class="mr-2" nbButton (click)="delStep(ref)" status="danger">Đồng ý</button>
                <button nbButton (click)="ref.close()">Hủy bỏ</button>
            </div>
        </nb-card-footer>
    </nb-card>
</ng-template>