:host {
  .pointer-none{
    pointer-events: none;
  }
  .cancel-p{
    
    position: absolute;
    top: 38px;
    right: 9px;
    font-size: 12px;
    color: #ff3d71;
    &:hover{
      text-decoration: underline;
    }
  }
  ::ng-deep{

  
  .draf {
    width: 8px;
    height: 8px;
    background: #e5e503;
    border-radius: 50%;
    display: inline-block;
    margin-right: 8px;
  }

  .active {
    width: 8px;
    height: 8px;
    background: #39a50e;
    border-radius: 50%;
    display: inline-block;
    margin-right: 8px;
  }

  .stop {
    width: 8px;
    height: 8px;
    background: #d52727;
    border-radius: 50%;
    display: inline-block;
    margin-right: 8px;
  }
  .inactive {
      width: 8px;
      height: 8px;
      background: #ff7300;
      border-radius: 50%;
      display: inline-block;
      margin-right: 8px;
    }
  }
  .step-setting-container {
    font-size: 14px;

    ::ng-deep {
      .input-process-name {
        font-size: 18px !important;
      }

      .is-view {
        background: none !important;
        border: none !important;
      }



      .list-step-container {
        border-right: 1px solid #e0e0e0;

        .title {
          font-weight: 600;
        }

        .step {
          min-height: 48px;
          display: flex;
          align-items: center;
          border-bottom: solid 1px #e0e0e0;
          cursor: pointer;
        }
        .step-focus{
          color: #3366ff;
          font-weight: 700;
        }

        nb-form-field {
          position: relative;

          .cancel {
            position: absolute;
            top: 40px;
            right: 8px;
            color: #ff3d71;
            font-size: 13px;
            cursor: pointer;
            &:hover{
                text-decoration: underline;
            }
          }
        }
      }
    }
  }

  .step-detail-container{
    position: relative;
    .edit-step{
      position: absolute;
      top: 0;
      right: 44px;
      cursor: pointer;
    }
    .del-step{
      position: absolute;
      top: 0;
      right: 8px;
      cursor: pointer;
    }
  }
}
