<!-- checkbox -->
<div class="field-des mb-3">
    <div style="display: flex;flex-direction: column;">
        <nb-checkbox *ngFor="let option of optionSelect">{{option.Text}}</nb-checkbox>
    </div>
</div>
<div class="asignee-selected">
    <div></div>
</div>

<div class="asignee-search col-12 col-md-6">
    <div class="search">
        <nb-form-field>
            <input type="text" nbInput fullWidth [value]="pagingUser.FilterString" placeholder="Tìm kiếm"
                (keyup)="searchProcess($event)" (focus)="showListAssignee()">
            <button nbSuffix nbButton ghost (click)="clearSearch()">
                <nb-icon [icon]="'close-circle-outline'" pack="eva">
                </nb-icon>
            </button>
        </nb-form-field>
        <div class="list-assignee" *ngIf="visibleListAssignee">
            <div class="list-assignee-display">
                <div class="tab dis-flex mb-3">
                    <div class="tab-user cursor-pointer mr-3" [class.active]="filterType == 1"
                        (click)="setFilterType()">Người dùng</div>
                    <div class="tab-grp cursor-pointer" [class.active]="filterType == 2" (click)="setFilterType(true)">
                        Nhóm</div>
                </div>
                <nb-icon [icon]="'close-outline'" class="close-list-assignee cursor-pointer" pack="eva" (click)="hideListAssignee()">
                </nb-icon>
                <ng-container *ngIf="filterType == 1">
                    <div class="no-data" *ngIf="!listUserRes || (listUserRes && listUserRes.length == 0)">
                        Không
                        có dữ liệu</div>
                    <div class="data" *ngIf="listUserRes && listUserRes.length > 0">
                        <div class="user" *ngFor="let user of listUserRes">
                            <div>{{user.FullName}} - {{user.Email}}</div>
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngIf="filterType == 2">
                    <div class="no-data"
                        *ngIf="!listGroupUserRes || (listGroupUserRes && listGroupUserRes.length == 0)">
                        Không
                        có dữ liệu</div>
                    <div class="data" *ngIf="listGroupUserRes && listGroupUserRes.length > 0">
                        <div class="user" *ngFor="let user of listGroupUserRes">
                            <div>{{user.UserGroupName}}</div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>

</div>