<nb-card *ngIf="processGroup">
    <nb-card-header class="container-fluid">
        <div class="row align-items-center">


            <div class="col-md-6 mb-1 mt-1 dis-flex-a">
                <nb-icon class="mr-2 cursor-pointer" [icon]="'arrow-back-outline'" pack="eva"
                (click)="backToListGroup()">
            </nb-icon>
                <div>
                   Nhóm quy trình: {{ processGroup.ProcessGroupName}}
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">

                    <div class="col-12 col-md-8 mb-1 mt-1 ">
                        <nb-form-field>
                            <input type="text" nbInput fullWidth [value]="paging.FilterString" placeholder="Tìm kiếm"
                                (keyup)="searchProcess($event)">
                            <button nbSuffix nbButton ghost (click)="clearSearch()">
                                <nb-icon [icon]="'close-circle-outline'" pack="eva">
                                </nb-icon>
                            </button>
                        </nb-form-field>
                    </div>
                    <div class="col-12 col-md-4 mb-1 mt-1  ">
                        <button title="Thêm quy trình vào nhóm" class="mr-2" nbButton [status]="'primary'" (click)="showDialogAddProcess(dialogAddProcess)">
                            <nb-icon [icon]="'plus-square-outline'" pack="eva">
                            </nb-icon>
                        </button>
                        <button  title="Sửa nhóm"  class="mr-2" nbButton  [status]="'warning'" (click)="showDialogUpdateGroup(dialogAddGroup)">
                            <nb-icon [icon]="'edit-outline'" pack="eva">
                            </nb-icon>
                        </button>
                        <button  title="Xóa nhóm"  nbButton  [status]="'danger'" (click)="showDialogDeleteGroup(dialogConfirmDelGroup)">
                            <nb-icon [icon]="'trash-2-outline'" pack="eva">
                            </nb-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </nb-card-header>

    <nb-card-body>

        <ngx-datatable class="material fullscreen" [rows]="listProcess" [columns]="colummSetting"
            [columnMode]="columnMode.force" [messages]="messages" [headerHeight]="50" [loadingIndicator]="isLoading"
            [footerHeight]="50" [rowHeight]="'auto'" [scrollbarH]="true" [externalPaging]="true"
            [externalSorting]="true" [count]="totalRecord" [offset]="paging.CurrentPage - 1" [limit]="paging.PageSize"
            (page)="setPage($event)" (sort)="setSort($event)">
            <ngx-datatable-column name="" prop="" width="50" [sortable]="false">
                <ng-template let-row="row"  ngx-datatable-cell-template >
                    <nb-icon [icon]="'trash-2-outline'" class="cursor-pointer" pack="eva" (click)="showDialogRemoveProcess(dialogConfirmRemoveProcess,row)">
                    </nb-icon>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Tên quy trình" prop="ProcessName" width="250">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    {{value}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Mô tả" prop="Description" width="400">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    {{value}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Trạng thái" prop="ProcessStatus" width="150">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <div *ngIf="value === processStatusEnum.Active">
                        <div class="active"></div> Đang sử dụng
                      </div>
                      <div *ngIf="value === processStatusEnum.Draf">
                        <div class="draf"></div> Phác thảo
                      </div>
                      <div *ngIf="value === processStatusEnum.InActive">
                        <div class="inactive"></div> Tạm dừng
                      </div>
                      <div *ngIf="value === processStatusEnum.Stop">
                        <div class="stop"></div> Ngừng sử dụng
                      </div>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Nhóm quy trình" prop="ProcessGroup.ProcessGroupName" width="150">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    {{value}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Người tạo" prop="CreatedBy" width="100">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    {{value}}
                </ng-template>
             
            </ngx-datatable-column>
            <ngx-datatable-column name="Ngày tạo" prop="CreatedDate" width="100">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    {{value | date:'yyyy/MM/dd hh:mm'}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Người sửa" prop="ModifiedBy" width="100">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    {{value}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Ngày sửa" prop="ModifiedDate" width="100">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    {{value | date:'yyyy/MM/dd hh:mm'}}
                </ng-template>
            </ngx-datatable-column>

        </ngx-datatable>
    </nb-card-body>
</nb-card>


<ng-template #dialogAddGroup let-data let-ref="dialogRef">
    <nb-card accent="danger" [nbSpinner]="loadingUpdate" nbSpinnerStatus="danger" nbSpinnerSize="large"
        nbSpinnerMessage="" style="width: 400px; max-height: calc(100vh - 60px);">
        <ng-container>
            <nb-card-header>Sửa nhóm</nb-card-header>
            <nb-card-body>
                <div class="field-name mb-3">
                    <label for="field-group-name" class="label required">Tên nhóm quy trình

                    </label>
                    <input [class.border-error]="newGroup.Empty" type="text" nbInput fullWidth id="field-group-name"
                        placeholder="Nhập tên nhóm quy trình" [(ngModel)]="newGroup.ProcessGroupName"
                        (ngModelChange)="resetError()">
                </div>
            </nb-card-body>
            <nb-card-footer>
                <div class="btn-group dis-flex justify-content-end">
                    <button nbButton class="mr-2" (click)="updateProcessGroup(ref)">Lưu lại</button>
                    <button nbButton (click)="ref.close()">Đóng</button>

                </div>
            </nb-card-footer>
        </ng-container>
    </nb-card>

</ng-template>

<ng-template #dialogConfirmDelGroup let-data let-ref="dialogRef">
    <nb-card>
        <nb-card-header>Xóa nhóm</nb-card-header>
        <nb-card-body>Bạn có chắc muốn xóa nhóm này không?</nb-card-body>
        <nb-card-footer>
            <div class="btn-group dis-flex justify-content-end">
                <button class="mr-2" nbButton (click)="deleteGroup(ref)" status="danger">Đồng ý</button>
                <button nbButton (click)="ref.close()" >Hủy bỏ</button>
            </div>
        </nb-card-footer>
    </nb-card>
</ng-template>  

<ng-template #dialogConfirmRemoveProcess let-data let-ref="dialogRef">
    <nb-card>
        <nb-card-header>Xóa quy trình</nb-card-header>
        <nb-card-body>Bạn có chắc muốn xóa quy trình này khỏi nhóm không?</nb-card-body>
        <nb-card-footer>
            <div class="btn-group dis-flex justify-content-end">
                <button class="mr-2" nbButton (click)="removeProcess(ref)" status="danger">Đồng ý</button>
                <button nbButton (click)="ref.close()" >Hủy bỏ</button>
            </div>
        </nb-card-footer>
    </nb-card>
</ng-template>  

<ng-template #dialogAddProcess let-data let-ref="dialogRef">
    <nb-card  style="width: 600px; max-height: calc(100vh - 60px);min-height: 550px">
        <nb-card-header>Thêm quy trình vào nhóm</nb-card-header>
        <nb-card-body>
            <div class="asignee-selected">
                <div *ngFor="let process of listProcessSelected" class="mr-3">
                    <div >{{process.ProcessName}} - {{process.CreatedBy}};
                    </div>
                   
                </div>
            </div>
            <div class="search">
                <!-- tim kiem -->
                <nb-form-field>
                    <input type="text" nbInput fullWidth [value]="pagingAddProcess.FilterString" placeholder="Tìm kiếm"
                        (keyup)="searchProcess($event)" (focus)="showListAddProcess()">
                    <button nbSuffix nbButton ghost (click)="clearSearch()">
                        <nb-icon [icon]="'close-circle-outline'" pack="eva">
                        </nb-icon>
                    </button>
                </nb-form-field>
    
                <!-- ds assignee -->
                <div class="list-assignee" *ngIf="visibleListAddProcess">
                    <div class="list-assignee-display">
                        <nb-icon [icon]="'close-outline'" class="close-list-assignee cursor-pointer" pack="eva"
                            (click)="hideListAddProcess()">
                        </nb-icon>
                        <!-- user -->
                      
                            <div class="no-data" *ngIf="!listAddProcessRes ||  listAddProcessRes?.length == 0">
                                Không
                                có dữ liệu</div>
                            <div class="data" *ngIf="listAddProcessRes && listAddProcessRes.length > 0" (scroll)="handleScroll($event)">
                                <div class="user" *ngFor="let process of listAddProcessRes" (click)="handleSelectAddProcess(process)">
                                    <div>{{process.ProcessName}} - {{process.CreatedBy}}</div>
                                    <nb-icon [icon]="'checkmark-outline'" pack="eva" *ngIf="process.IsChecked">
                                    </nb-icon>
                                </div>
    
                            </div>
                   
                    </div>
                </div>
            </div>
        </nb-card-body>
        <nb-card-footer>
            <div class="btn-group dis-flex justify-content-end">
                <button class="mr-2" nbButton (click)="addProcessToGroup(ref)" status="danger">Đồng ý</button>
                <button nbButton (click)="ref.close()" >Hủy bỏ</button>
            </div>
        </nb-card-footer>
    </nb-card>
</ng-template> 
