<div class="field-type-component" [class.readonly]="readonly" *ngIf="fieldData">
    <!-- short text -->
    <div class="field-name mb-3" *ngIf="fieldData.Type == fieldType.ShortText">
        <label for="field-{{fieldData.StepFieldId}}" class="label" [class.required]="fieldData.IsRequired">{{fieldData.FieldName}}

        </label>
        <div class="field-des">{{fieldData.Description}}</div>
        <input [class.border-error]="fieldValue.Empty" type="text" nbInput fullWidth id="field-{{fieldData.StepFieldId}}" [placeholder]="fieldData.DataSettingObj?.Placeholder"
            [disabled]="readonly" [(ngModel)]="fieldValue.Value" (ngModelChange)="resetError()">
    </div>

    <!-- long text -->
    <div class="field-des mb-3" *ngIf="fieldData.Type == fieldType.LongText">
        <label for="field-{{fieldData.StepFieldId}}" class="label" [class.required]="fieldData.IsRequired">{{fieldData.FieldName}}
        </label>
        <div class="field-des">{{fieldData.Description}}</div>
        <textarea [class.border-error]="fieldValue.Empty" id="field-{{fieldData.StepFieldId}}" nbInput fullWidth  [placeholder]="fieldData.DataSettingObj?.Placeholder" [disabled]="readonly"
        [(ngModel)]="fieldValue.Value" (ngModelChange)="resetError()"
        ></textarea>
    </div>

    <!-- number -->
    <div class="field-des mb-3" *ngIf="fieldData.Type == fieldType.Number">
        <label for="field-{{fieldData.StepFieldId}}" class="label" [class.required]="fieldData.IsRequired">{{fieldData.FieldName}}
        </label>
        <div class="field-des">{{fieldData.Description}}</div>
        <input [class.border-error]="fieldValue.Empty" id="field-{{fieldData.StepFieldId}}" type="number" nbInput fullWidth  [placeholder]="fieldData.DataSettingObj?.Placeholder" 
        [(ngModel)]="fieldValue.Value" (ngModelChange)="resetError()"
        [disabled]="readonly">
    </div>

    <!-- hour  [(ngModel)]="date" -->
    <div class="field-des mb-3" *ngIf="fieldData.Type == fieldType.Hour">
        <label for="field-{{fieldData.StepFieldId}}" class="label" [class.required]="fieldData.IsRequired">{{fieldData.FieldName}}
        </label>
        <div class="field-des">{{fieldData.Description}}</div>
        <input [class.border-error]="fieldValue.Empty" id="field-{{fieldData.StepFieldId}}" nbInput type="text" [nbTimepicker]="timepicker"  [placeholder]="fieldData.DataSettingObj?.Placeholder"
        [(ngModel)]="fieldValue.Value" (ngModelChange)="resetError()">
        <nb-timepicker #timepicker></nb-timepicker>
    </div>
    <!-- date -->
    <div class="field-des mb-3" *ngIf="fieldData.Type == fieldType.Date">
        <label for="field-{{fieldData.StepFieldId}}" class="label" [class.required]="fieldData.IsRequired">{{fieldData.FieldName}}
        </label>
        <div class="field-des">{{fieldData.Description}}</div>
        <input [class.border-error]="fieldValue.Empty" id="field-{{fieldData.StepFieldId}}" nbInput type="text" [nbDatepicker]="dateTimePicker" [(ngModel)]="fieldValue.Value"  [placeholder]="fieldData.DataSettingObj?.Placeholder"
        [(ngModel)]="fieldValue.Value" (ngModelChange)="resetError()">
        <nb-datepicker #dateTimePicker></nb-datepicker>
    </div>
    <!-- datetime -->
    <div class="field-des mb-3" *ngIf="fieldData.Type == fieldType.DateTime">
        <label for="field-{{fieldData.StepFieldId}}" class="label" [class.required]="fieldData.IsRequired">{{fieldData.FieldName}}
        </label>
        <div class="field-des">{{fieldData.Description}}</div>
        <input [class.border-error]="fieldValue.Empty" id="field-{{fieldData.StepFieldId}}"  nbInput placeholder="Pick Date" [(ngModel)]="fieldValue.Value" 
         [nbDatepicker]="dateTimePicker"  [placeholder]="fieldData.DataSettingObj?.Placeholder" (ngModelChange)="resetError()">
        <nb-date-timepicker withSeconds #dateTimePicker></nb-date-timepicker>
    </div>
    <!-- dropdown -->
    <div class="field-des mb-3" *ngIf="fieldData.Type == fieldType.Dropdown">
        <label for="field-{{fieldData.StepFieldId}}" class="label ">{{fieldData.FieldName}}</label>
        <div class="field-des">{{fieldData.Description}}</div>
        <nb-select status="{{fieldValue.Empty? 'danger' : 'basic'}}" id="field-{{fieldData.StepFieldId}}" class="" style="min-width: 300px;" [(ngModel)]="fieldValue.Value" (ngModelChange)="resetError()">
            <nb-option [value]="option.OptionId" *ngFor="let option of fieldData.DataSettingObj?.ListOption">{{option.OptionName}}
            </nb-option>
        </nb-select>
    </div>
    <!-- checkbox -->
    <div class="field-des mb-3" *ngIf="fieldData.Type == fieldType.Checkbox">
        <label for="field-{{fieldData.StepFieldId}}" class="label">{{fieldData.FieldName}}</label>
        <div class="field-des">{{fieldData.Description}}</div>
        <div style="display: flex;flex-direction: column;">

            <nb-checkbox [checked]="option.Value" *ngFor="let option of fieldData.DataSettingObj?.ListOption" (checkedChange)="setValueChecked(option, $event)">{{option.OptionName}}</nb-checkbox>
        </div>
    </div>
    <!-- file -->
    <div class="field-des mb-3" *ngIf="fieldData.Type == fieldType.File">
        <label for="field-{{fieldData.StepFieldId}}" class="label" [class.required]="fieldData.IsRequired">{{fieldData.FieldName}}
        </label>
        <div class="field-des">{{fieldData.Description}}</div>
        <input id="field-{{fieldData.StepFieldId}}" type="file" [(ngModel)]="fieldValue.Value" nbInput fullWidth placeholder="Nhập mô tả" [disabled]="readonly">
    </div>
    <!-- yes/ no -->
    <div class="field-des mb-3" *ngIf="fieldData.Type == fieldType.YesNo">
        <label for="field-{{fieldData.StepFieldId}}" class="label" [class.required]="fieldData.IsRequired">{{fieldData.FieldName}}
        </label>
        <div class="field-des">{{fieldData.Description}}</div>
        <nb-toggle [(ngModel)]="fieldValue.Value" status="basic">Yes / No</nb-toggle>
    </div>
   
    <!-- link-->
    <div class="field-des mb-3" *ngIf="fieldData.Type == fieldType.Link">
        <label for="field-{{fieldData.StepFieldId}}" class="label" [class.required]="fieldData.IsRequired">{{fieldData.FieldName}}
        </label>
        <div class="field-des">{{fieldData.Description}}</div>
        <a [href]="fieldData.DataSettingObj?.LinkTo">{{fieldData.DataSettingObj?.LinkName}}</a>
    </div>
</div>