<nb-card>
  <nb-card-header class="container-fluid">
    <div class="row align-items-center">


      <div class="col-md-6 mb-1 mt-1 ">
        <nb-button-group shape="rectangle">
          <button nbButtonToggle (click)="setFilter(1)">Tôi đã tham gia</button>
          <button nbButtonToggle (click)="setFilter(2)">Tôi đã tạo</button>
        </nb-button-group>
      </div>
      <div class="col-md-6">
        <div class="row justify-content-end">

          <div class="col-12 col-md-8 mb-1 mt-1">
            <nb-form-field>
          
                <nb-icon class="icon-search" [icon]="'search-outline'" pack="eva">
                </nb-icon>
                <input style="padding-left: 28px;" type="text" nbInput fullWidth [value]="paging.FilterString" placeholder="Tên quy trình"
                  (keyup)="searchProcess($event)">
             
              <button nbSuffix nbButton ghost (click)="clearSearch()"*ngIf="paging.FilterString">
                <nb-icon [icon]="'close-circle-outline'" pack="eva">
                </nb-icon>
              </button>
            </nb-form-field>
          </div>
        </div>
      </div>
    </div>
  </nb-card-header>

  <nb-card-body>
    <!-- <ng2-smart-table  [settings]="settings" [source]="source" (edit)="onEditItem($event)">
      </ng2-smart-table> -->

    <ngx-datatable class="material fullscreen" [rows]="listProcess" [columns]="colummSetting"
      [columnMode]="columnMode.force" [messages]="messages" [headerHeight]="50" [loadingIndicator]="isLoading"
      [footerHeight]="50" [rowHeight]="'auto'" [scrollbarH]="true" [externalPaging]="true" [externalSorting]="true"
      [count]="totalRecord" [offset]="paging.CurrentPage - 1" [limit]="paging.PageSize" (page)="setPage($event)"
      (sort)="setSort($event)" (select)="onSelectRow($event)" [selectionType]="selectionType.single">
      <ngx-datatable-column name="Tên quy trình" prop="ProcessName" width="150">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          {{value}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Bước hiện tại" prop="CurrentStepName" width="150">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          {{value}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Mô tả" prop="StepDescription" width="200">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          {{value}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Người tạo" prop="OwnerName" width="100">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          {{value}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Ngày tạo" prop="CreatedDate" width="100">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          {{value | date:'yyyy/MM/dd hh:mm'}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Trạng thái" prop="Status" width="100">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <div *ngIf="value === processExeStatusEnum.NotDone">
            <div class="not-done"></div> Chưa hoàn thành
          </div>
          <div *ngIf="value === processExeStatusEnum.Done">
            <div class="done"></div> Hoàn thành
          </div>
          <div *ngIf="value === processExeStatusEnum.Reject">
            <div class="rejected"></div> Bị từ chối
          </div>
          <div *ngIf="value === processExeStatusEnum.Expire">
            <div class="exprire"></div> Hết thời hạn
          </div>
        </ng-template>
      </ngx-datatable-column>

    </ngx-datatable>
  </nb-card-body>
</nb-card>