@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

// themes - our custom or/and out of the box themes
@import 'themes';

// framework component themes (styles tied to theme variables)
@import '~@nebular/theme/styles/globals';
@import '~@nebular/auth/styles/globals';

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/grid';

// loading progress bar theme
@import './pace.theme';

@import './layout';
@import './overrides';

@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/material.scss';
@import '~@swimlane/ngx-datatable/assets/icons.css';

// install the framework and custom global styles
@include nb-install() {

  // framework global styles
  @include nb-theme-global();
  @include nb-auth-global();

  @include ngx-layout();
  // loading progress bar
  @include ngx-pace-theme();

  @include nb-overrides();
}

;

.ngx-datatable.material{
  box-shadow: none;
}

.dis-flex {
  display: flex !important;
}

.dis-flex-a {
  display: flex !important;
  align-items: center !important;
}

.padding-0 {
  padding: 0px !important
}

.border-error {
  border-color: #ff3d71 !important;
}

.btn-disabled {
  opacity: 0.8;
  cursor: none;
  pointer-events: none;
}

.btn-primaty-only-text {
  cursor: pointer;
  color: #3366ff;

  &:hover {
    color: #598bff !important;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.required {
  &::after {
    content: '*';
    color: #ff3d71;
    margin-left: 4px;
  }
}

.section-title {
  font-size: 14px;
  font-weight: 700;
}

nb-toast{
  height: 48px;
  border-radius: 8px;
}
